@charset "utf-8";
body {
    background-color: #4c4e4e;
    color: #000000;
    font-family: Arial, Verdana, sans-serif;
   }
.wrapper {
    display: grid;
    grid-template: repeat(3, 1fr);
    column-gap: normal;
    row-gap: 100;
    justify-content: space-around;
    justify-items: stretch;
    gap: 10px 20px;
    grid-auto-rows: minmax(100px, auto);
  }
  h1 {
    background-color: #ffcc00;
    color: black;
    text-align: center;
    line-height: 200%;
    font-family: Georgia, “Times New Roman”, serif;
    padding: 0.5em;
   }
  .one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .three {
    grid-column: 4 / 3;
    grid-row: 1 / 3;
  }
  .four {
    grid-column: 1 / 3;
    grid-row: 3;
  }
  .five {
    grid-column: 2 / 3;
    grid-row: 3;
  }
  .six {
    grid-column: 3 / 3;
    grid-row: 3 
  }
  .wrapper>div {
    background: #eee;
    padding: 1em;
   }
   .wrapper>div:nth-child(odd) {
    background: lightblue;
   }